
body {
    background-attachment: fixed !important;
    background: linear-gradient(to bottom, rgb(110, 213, 247), white);
}

div.flex {
    display: flex;
}

img {
    width: 10%;
    height: 10%;
    text-align: right;
    margin: 5px;
}

h1 {
    font-size: 40px;
}
ul {
    list-style: none;
    padding-left: 0;
}

li.midasi {
    font-size: 40px;
    background-color: rgb(0, 204, 255);
}

ul.naiyou1 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 3px;
}
li.data {
    font-size: 20px;
    background-color: aqua;
    margin: 5px;
    margin-right: 40%;
}