body {
    background-color: rgb(255, 247, 236);
}

h1 {
    color: navy;
    background-color: orange;
}

div.zentai {
    display: flex;
    flex-direction: column;
}

div.box {
    background-color:antiquewhite;
    margin-top: 5px;
    margin-bottom: 5px;
}

ul {
    background-color: rgb(252, 198, 133);
}